# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

#generated folders
saved_models
saved_results
pretrain_models
pretrain_results
train_log
pretrain_log
